<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration>
	<profile id="default">
		<mail-notification debug="true" enabled="false" password="" port="25" ssl-enabled="false" start-tls-enabled="false" user="">
			<from/>
			<host/>
		</mail-notification>
		<misc>
			<defaults timezone="" theme-id="slate" />
			<inqry-next-educ-year-begin day="1" month="8"/>
			<inqry-next-inuch-year day="1" month="4"/>
			<queue-allocation queue-dt-rule="ruleApproved" specify-inqry-health-needs="true" >
				<calculate-age-on-date day="10" month="8" />
				<!-- настройка только для Частоозёрского района -->
				<calculate-age-on-date-ter ter-code="20" day="1" month="8"/>
				<!-- настройка только для Юргамышского района -->
				<calculate-age-on-date-ter ter-code="26" day="15" month="10"/>
				<queue-rules>
					<queue-rule ter-code="20">
						<item fld="bdt" sort-dir="asc" />
						<item fld="weight" sort-dir="asc" />
						<item fld="queue_enter" sort-dir="asc" />                                                                                        
					</queue-rule>
					<queue-rule ter-code="21">
						<item fld="bdt" sort-dir="asc" />
						<item fld="weight" sort-dir="asc" />
						<item fld="queue_enter" sort-dir="asc" />                                                                                        
					</queue-rule>
				</queue-rules>                                
			</queue-allocation>
		</misc>
		<reports>
			<informica-report state-name="Курган" level="SUPERUSER" auto-upload-enabled="false" auto-upload-hours="13" auto-upload-minutes="37" debug="true"  get-enrolled-from="PLUS" delay="800"/>
			<!-- con-timeout="120" req-timeout="120" /> -->
			<common authority="Тестовая версия приложения «Заявитель»" app-descr="Версия для Кировской области inqry-gwt-inquirer 2017"/>
		</reports>
	</profile>
</configuration>
